extends layout

block content
   div.signin
    h1 Hello !! Welcome to website of me 
    p Dang nhap su dung Nodejs MongoDB
    div.btn
      a(href="/signin") Sign In
      a(href="/signup") Sign Up
