<section class="row">
  <div class="col-6 offset-3 mt-4">
    <form method="post" id="categories_update">
      <div class="card">
        <div class="card-header">
          <h2>Add New Category</h2>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="categoryId">Category ID:</label>
            <input type="text" class="form-control" name="categoryId" id="categoryId" aria-describedby="categoryIdHid"
              placeholder="Category ID" />
          </div>
          <div class="form-group">
            <label for="name">Name: </label>
            <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHid"
              placeholder="Category Name" />
          </div>
        </div>
        <div class="card-footer text-muted">
          <button type="reset" class="btn btn-secondary">Reset</button>
          <a class="btn btn-success" href="/items/categories">List categories</a>
          <button class="btn btn-primary">
            <i class="fas fa-save"></i> Save
          </button>
        </div>
      </div>
    </form>
  </div>
</section>